<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

        <menuitem name="Relaciones" id="menu_root" sequence="110"/>

        <menuitem name="General" id="menu_general" parent="menu_root"/>

        <record model="ir.actions.act_window" id="action_relac">
            <field name="name">relac</field>
            <field name="res_model">relac.enc</field>
            <field name="view_mode">tree,form</field>
        </record>

        <menuitem name="Procedimiento" id="menu_procedimiento" parent="menu_general"
            sequence="1" action="action_relac"/>


        <record model="ir.ui.view" id="relaciones_form">
            <field name="name">relac form view</field>
            <field name="model">relac.enc</field>
            <field name="arch" type="xml">
                <form string="Relaciones">
                    <sheet>
                        <group col="2">
                            <field name = "name"/>
                            <field name = "descripcion"/>
                            <field name = "det"/>
                            <!-- <field name = "pasos" options="{'no_open':True,'no_create':1,'no_create_edit':1}" /> -->
                        </group>
                    </sheet>
                </form>
            </field>
        </record>

        <record model ="ir.ui.view" id="det_tree">
            <field name="name">det.tree</field>
            <field name="model">relac.det</field>
            <field name="arch" type="xml">
                <tree string="Detalle" editable="bottom">
                    <field name="name"/>
                    <field name="descripcion"/>
                </tree>
            </field>
        </record>


        <!--
        <record model ="ir.ui.view" id="pasos_tree">
            <field name="name">paso.tree</field>
            <field name="model">procs.paso</field>
            <field name="steps" type="xml">
                <tree string="Pasos" toolbar="1" on_write="on_create_write" editable="bottom" delete="true" create="true">
                    <field name="numero" string="Número"/>
                    <field name="responsable"/>
                    <field name="descripcion"/>
                </tree>
            </field>
        </record>

-->

   
    </data>
</openerp>
